.container{
  padding: 5px 0;
  /* background-color: ; */
   /* background-color: rgb(18, 143, 227); */

  /* border-bottom: 1px solid whitesmoke; */
}

.container__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0 auto;

  min-height: 10vh;
  width: 95%;
}
.logo > a{
  color: rgb(74, 50, 50);
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 5px 3px 2px rgba(144, 119, 119, 0.48);
  /* border: 2px solid white; */
}

.login-voluntario{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 40vw;
  padding: 5px 10px;
  margin-bottom: 10px;
  /* background-color: #8fc09558; */
}

.login-voluntario__button{

  font-size: 1.4rem;
  text-align: center;
  line-height: 5px;
  text-decoration: none;
  width: 50%;
  /* height: 30px; */
  color: rgb(48, 39, 39);
  font-weight: 400;
  text-align: center;
  padding: 20px 5px;


  /* border-bottom: 1px solid rgb(104, 145, 104); */
}

.login-voluntario__button > span{
  font-style: italic;
  font-weight: 300;
  /* font-size: 1.25rem; */
}

.login-voluntario__button:hover{
  border: 1px solid rgb(160, 202, 160);
  background-color: rgba(159, 228, 159, 0.395);
}

.login-voluntario__button:active{
  position: relative;
  top: 1px;
}
