<div class="container">
  <div class="container__box">
    <h1 class="logo">Bom Vizinho</h1>
    <fieldset class="login-voluntario">
      <legend class="login-voluntario__title">Voluntário</legend>
        <input class="login-form" type="text" name="txLoginVoluntario" placeholder="Insira o seu email">
        <input class="login-form" type="password" name="txSenhaVoluntario" placeholder="Insira a sua senha">
        <button class="login-button" disabled="disabled" name="txEntrarVoluntario">Entrar</button>
    </fieldset>
  </div>
</div>
