.container{
  width: 70vw;
  /* border: 2px solid lightblue; */
  border-radius: 25px;
  min-height: 70vh;

  display: flex;
}

.container__principal, .container__form{
  width: 50%;
  text-align: center;
}

.container__principal{
  background-color: rgb(62, 139, 255);
  /* border: 1px solid royalblue; */
  border-radius: 25px 0 0 25px;

}

.container__form{
  background-color: lavender;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;

}
