<div class="container">
        <!-- <div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus tenetur tempore minima unde voluptates porro, ex adipisci quo sequi aliquam ea illo? Animi ex voluptas, quisquam ipsam suscipit laboriosam labore.</p>
        </div> -->
        
       <div>
          <h2 class="login-title">Faça seu login</h2>
          <form class="login-idoso">
            <input type="text" name="txNome" id="txNome" placeholder="Insira seu e-mail/telefone">
            <input type="password" name="txSenha" id="txSenha" placeholder="Informe sua senha">
            <button>Entrar</button>
          </form>

          <div class="login-botoes">
              <a href="./#">Ainda não possuo Cadastro</a>
              <a href="./#">Esqueci minha senha</a>
          </div>
       </div>
</div>

