<div class="container">
  <!-- <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus tenetur tempore minima unde voluptates porro, ex adipisci quo sequi aliquam ea illo? Animi ex voluptas, quisquam ipsam suscipit laboriosam labore.</p>
  </div> -->

 <div class="container-login">
    <h2 class="login-title">Cadastre-se:</h2>
    <form class="cadastro-form">
      <input type="text" name="txNome" id="txNome" placeholder="Nome: ">
      <input type="text" name="txSobrenome" id="txSobrenome" placeholder="Sobrenome:">


      <legend>Sexo: </legend>
      <div class="cadastro-form-sexo">
        <div>
          <input type="radio" name="txSexo" id="txMasc" value="masculino">
        <label for="txMasc">Masculino</label>
        </div>
      <div>
        <input type="radio" name="txSexo" id="txFemin" value="feminino">
        <label for="txFemin">Feminino</label>
      </div>
      <div>
        <input type="radio" name="txSexo" id="txNaoInform" value="naoInformado">
        <label for="txNaoInform">Prefiro não informar</label>
      </div>
     </div>


      <input type="email" name="txEmail" id="txEmail" placeholder="E-mail:">

      <input type="text" name="txTelefone" id="txTelefone" placeholder="Celular:">

      <input type="date" name="txDataNasc" id="txDataNasc" placeholder="Data de Nascimento:">

      <input type="text" name="txEndereco" id="txEndereco" placeholder="Endereço:">

      <input type="text" name="txCEP" id="txCEP" placeholder="CEP:">

      <input type="password" name="txSenha" id="txSenha" placeholder="Insira uma senha:">

      <input type="password" name="txSenhaConfirm" id="txSenhaConfirm" placeholder="Confirme sua senha:">

      <button routerLink="/login">Cadastrar</button>
    </form>
 </div>
</div>
