


  <div class="background2">

    <header class="container__header">
      <div class="header__title">
          <h2><a routerLink="/"> <img src="" alt=""> <span>Bom Vizinho</span> </a></h2>
      </div>



      <div class="header__login">
          <a routerLink="/login/voluntario">Voluntário? Clique aqui</a>
      </div>

      <!--<img class="casas" src="img/bv.png" alt="logo com duas casas">-->

    </header>

    <main class="main">
      <section class="main__img">
        <img src="../assets/img/cumprimento.png" alt="Imagem rapaz em posição de cumprimento">
      </section>
      <section class="main__login">
        <!-- Textos  -->
        <div class="texto_eco"><h2>Seja bem vindo!</h2></div>
        <div class=" texto_pequeno"> Por aqui você encontra serviços voluntariados voltados a atender a melhor idade, vindo de pessoas disponíveis do seu predio! <br>Clique aqui para conhecer</div>
        <!-- Botão -->
        <a class="botao" routerLink="/login/idoso">Click</a>
      </section>

    </main>


  </div>
