/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Noto+Sans+JP:wght@100;200;300;400;700&family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, button, input, a, legend, label{
  font-family: 'Noto Sans JP','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
